<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>hiddlestick - element snippet</title>
	<link rel="shortcut icon" type="image/x-icon" href="/static/img/logo/logo_color_white.svg" />
	<!-- element styles begin -->
	<link rel="stylesheet" type="text/css" href="/view/snippets/css/element.css">
	<!-- element styles end -->
</head>

<body>
	<!-- element begin -->
	<div class="element-wrapper">
		<div class="element-container">
			<div class="element">
				<div class="element-inner">
					<div class="element-sticker">
						<img src="sticker-src" alt="a beautiful sticker" title="a beautiful sticker" class="sticker"
							loading="lazy">
					</div>
					<div class="element-content" id="post-uuid">
						<!-- media location -->
						<p>
							<!-- post content -->
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="element-info">
			<a href="/t/creator-handle">
				<div class="element-info-creator">
					<div class="element-info-creator-picture">
						<img src="profile-picture-src" alt="profile picture of creator-handle"
							title="profile picture of creator-handle" class="element-info-profile-picture"
							loading="lazy">
					</div>
					<div class="element-info-creator-text">
						<span class="element-info-name">
							<!-- creator name -->
						</span>
						<span class="element-info-handle">
							<!-- creator handle -->
						</span>
					</div>
				</div>
			</a>
			<div class="element-info-other">
				<span class="element-info-date">
					<!-- creation date -->
				</span>
			</div>
		</div>
		<hr>
	</div>
	<!-- element placeholder -->
	<!-- element end -->
	<!-- overlay begin -->
	<div id="overlay" hidden="hidden"></div>
	<!-- overlay end -->
</body>

</html>