<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hiddlestick - footer snippet</title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/logo/logo_color_white.svg" />
    <!-- footer styles start -->
    <link rel="stylesheet" type="text/css" href="/view/snippets/css/footer.css">
    <!-- footer styles end -->
</head>

<body>
    <!-- footer begin -->
    <footer>
        <div class="footer-left"></div>
        <div class="footer-center">
            <p>(C) hiddlestick 2022</p>
        </div>
        <div class="footer-right"></div>

    </footer>
    <!-- footer end -->
</body>

</html>