<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>hiddlestick - icons</title>
	<!-- icons begin -->
	<link rel="shortcut icon" type="image/x-icon" href="/static/img/logo/logo_color_white.svg">
	<link rel="apple-touch-icon" sizes="60x60" href="/static/img/logo/icon/60.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/static/img/logo/icon/76.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/static/img/logo/icon/120.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/static/img/logo/icon/152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/static/img/logo/icon/180.png">
	<link rel="apple-touch-icon" sizes="192x192" href="/static/img/logo/icon/192.png">
	<link rel="apple-touch-icon" sizes="512x512" href="/static/img/logo/icon/512.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/static/img/logo/icon/32.png">
	<link rel="icon" type="image/png" sizes="192x192" href="/static/img/logo/icon/192.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/static/img/logo/icon/16.png">
	<!-- icons end -->
</head>

<body>

</body>

</html>