<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>upload error - hiddlestick</title>
	<link rel="shortcut icon" type="image/x-icon" href="/static/img/logo/logo_color_white.svg">
	<link rel="stylesheet" type="text/css" href="/view/snippets/css/uploaderr.css">
</head>

<body>
	<div id="upload-err-container">
		<div id="upload-err-text-container">
			<span id="upload-err-text">
				<!-- upload error text -->
			</span>
			<a href="/fileadmin/upload/area/usage" id="upload-err-try-again">Try again</a>
		</div>
	</div>
</body>

</html>