<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>hiddlestick - upload wrapper</title>
	<!-- upload wrapper styles begin -->
	<link rel="stylesheet" type="text/css" href="/view/snippets/css/uploadwrapper.css">
	<!-- upload wrapper styles end -->
</head>

<body>
	<!-- in order to limit the size of the upload zone the upload-wrapper has to be defined in another css file -->
	<!-- upload wrapper begin -->
	<div class="upload-wrapper">
		<iframe class="upload-zone" src="/fileadmin/upload/area/usage"
			sandbox="allow-forms, allow-same-origin"></iframe>
	</div>
	<!-- upload wrapper end -->
</body>

</html>