:root{
    --background-color: #121212;
    --header-color: #181818;
    --icon-color: #fff;
    --text-color: #fff;
    --logo-color1: #0cbc5e;
    --logo-color2: #54ac6b;
    --spezial-color: #3fbcd5;
}