@import url("lib/fonts/Roboto/font.css");
@import url(colors.css);
*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: var(--background-color);
}

header{
    position: sticky; top: 0;

}

nav{
    background-color: var(--header-color);
    text-align: center;
}

header div img {
    vertical-align: middle;
    height: 3.5vh;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}

.nav-left {
    float: left;
    margin: 0.75vh;

}
.nav-center {
    display: inline-block;
    margin: 0.75vh auto;
}
.nav-right {
    float: right;
    margin: 0.75vh;
}



p{
    margin: 0;
    padding: 0;
    text-align: center;
    color: var(--text-color);
}

main{
    margin: 0;
    padding: 0;
    width: 30vw;
    margin-left: 25vw;
}

i{
    vertical-align: middle;
    font-size: 3vh;
    margin-left: 0.5vw;
    margin-right: 0.5vw; 
    color: var(--icon-color);
    cursor: pointer;
    /*font-weight: 400 !important;*/
}
.userprofile{
    float: right;
}
.search-container{
    background: var(--header-color);
    height: 3vh;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    float: left;
    transition: 0.8s;
}

.search-container:hover > .search-input{
    width: 7.5vw;
}

.search-container .search-input{
    background: transparent;
    border: none;
    outline:none;
    width: 0px;
    font-size: 2vh;
    transition: 0.8s;
    color: var(--text-color);
}

.search-input::placeholder {
    color: var(--text-color);
  }

.search-container .search-btn .fas{
    color: var(--header-color);
}


form{
    float: left;
}

/* Dropdown Button */
.dropbtn {



    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background: var(--header-color);
    min-width: 7.5vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0vw;
    margin-top: 1.5vh;
    border: 0.5px solid var(--text-color);
    border-radius: 15px;
    
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: var(--text-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}