@import url("lib/fonts/Roboto/font.css");

*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #121212;
}

header{
    position: sticky; top: 0;

}

nav{
    background-color: #181818;
    text-align: center;
}

header div img {
    vertical-align: middle;
    height: 3.5vh;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}

.nav-left {
    float: left;
    margin: 0.75vh;

}
.nav-center {
    display: inline-block;
    margin: 0.75vh auto;
}
.nav-right {
    float: right;
    margin: 0.75vh;
}



p{
    margin: 0;
    padding: 0;
    text-align: center;
    color: #fff;
}

main{
    margin: 0;
    padding: 0;
    width: 30vw;
    margin-left: 25vw;
}

i{
    vertical-align: middle;
    font-size: 3.5vh;
    margin-left: 0.5vw;
    margin-right: 0.5vw; 
    color: #fff;
    cursor: pointer;
    font-weight: 400 !important;
}
.userprofile{
    float: right;
}
.search-container{
    background: #121212;
    height: 3vh;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    float: left;
    transition: 0.8s;
}

.search-container:hover > .search-input{
    width: 7.5vw;
}

.search-container .search-input{
    background: transparent;
    border: none;
    outline:none;
    width: 0px;
    font-size: 3vh;
    transition: 0.8s;

}

.search-container i {
    font-weight: 900 !important;
}

.search-container .search-btn .fas{
    color: #121212;
}



