<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/logo/logo_color_white.svg" />
    <title>Log In</title>
    <link rel="stylesheet" type="text/css" href="/view/css/login.css">
    <link rel="stylesheet" type="text/css" href="/static/lib/fontawesome/6.1.1/css/all.css">
</head>
<body>
    <div class="left-half">
        <img class="background" id="pic" src="/static/img/preload-background.png" alt="" >
        <video class="background" id="vid_lowres" src="/static/vid/background/background-wallpaper-waves-lowres.mp4" muted loop autoplay></video>
        <video class="background" id="vid_fullres" src="/static/vid/background/background-wallpaper-waves.mp4" muted loop autoplay></video>
       

        <script src="/view/js/load-background.js"></script>
      
        
        <svg viewbox="0 0 100 20">
            <defs>
              <linearGradient id="gradient">
                <stop color="#000"/>
              </linearGradient>
              <pattern id="wave" x="0" y="0.25" width="100%" height="100%" patternUnits="userSpaceOnUse">
                <path id="wavePath" d="M-40 9 Q-30 7 -20 9 T0 9 T20 9 T40 9 T60 9 T80 9 T100 9 T120 9 V20 H-40z" mask="url(#mask)" fill="#0cbc5e"> 
                  <animateTransform
                      attributeName="transform"
                      begin="0s"
                      dur="1.5s"
                      type="translate"
                      from="0,0"
                      to="40,0"
                      repeatCount="indefinite" />
                </path>
              </pattern>
            </defs>
            <text text-anchor="middle" x="50" y="15" font-size="12.5" fill="#54ac6b" fill-opacity="0.7">hiddlestick</text>
            <text text-anchor="middle" x="50" y="15" font-size="12.5" fill="url(#wave)"  fill-opacity="1">hiddlestick</text>
          </svg>
    </div>
    <div class="right-half">
        <div class="content">
           <h1>Log In</h1>
           <form action="/login/login" method="POST">

              <div class="handle">
                <i class="fa-solid fa-user"></i>
                <input type="text" name="handle_login" placeholder="handle...">
              </div>

              <div class="pwd">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" name="password_login" placeholder="password...">
                    <i class="fa-solid fa-eye-slash"></i>
              </div>
              <script src="/view/js/pwd-field.js"></script>


              <div class="checkbox">
                <p>keep me loged in</p>
                <div class="box">
                  <input type="checkbox" id="cb1" name="checkbox_login" checked>
                  <label for="cb1"><div class="tick"></div></label>
                </div>
              </div>
           
              <a href="/register">register?</a>
              <br>
              <p class="errorMessage input-invalid"></p>
              <button class="glow-on-hover" name="submit_login" type="submit" type="button">Sign in</button>
              
            </form>  
        </div>

        <img src="/static/img/logo/logo_color_white.svg" alt="hiddlestick logo_white">

    </div>

   
</body>
</html>