<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/logo/logo_color_white.svg"/>
    <title>Settings</title>
    <link rel="stylesheet" type="text/css" href="/view/css/settings.css">
    <link rel="stylesheet" type="text/css" href="/static/lib/fontawesome/6.1.1/css/all.css">
    <!-- header stylesheets -->
    <!-- upload wrapper stylesheets -->
</head>
<body>
  <script src="/view/js/theme.js"></script>
  <header></header>

    <div class="container">
      <div class="leftbox">
        <nav>
          <a onclick="tabs(0)" class="tab active">
            <i class="fa-solid fa-image"></i>
          </a>
          <a onclick="tabs(1)" class="tab">
            <i class="fa fa-user"></i>
          </a>
          <a onclick="tabs(2)" class="tab">
            <i class="fa-solid fa-key"></i>
          </a>
          <a onclick="tabs(3)" class="tab">
            <i class="fa-solid fa-droplet"></i>
          </a>
        </nav>
      </div>
      <div class="rightbox">
        <div class="profilePic tabShow">
            <h1>Profile Picture</h1>
            <form action="/settings/changeProfilePicture" method="POST">
             <!-- upload wrapper placeholder -->
              <script src="/view/js/drag-drop.js"></script>
              <!-- handle link  -->
              <button class="glow-on-hover" name="submit_changeProfilePicture" type="submit" type="button">Change</button>
            </form>
        </div>
        <div class="user tabShow">
          <h1>Account Information</h1>
          <!-- handle link  -->
          <img src="profile-pic-source-placeholder" alt="current profile picture" class="profile-pic">
          <div class="accountInfo">
            <div>
              <p>Name:</p> <!-- user name  --> 
            </div>
            <div>
              <p>Handle: <!-- handle link  --></p> 
            </div>
            <div>
              <p>Creationtime:</p><!-- user creationtime  --> 
            </div>
          </div>
          <form action="/settings/changeName" method="POST">
            <p>User Name</p>
            <div class="name">
              <i class="fa-solid fa-user"></i>
              <input type="text" name="name_settings" placeholder="Name..." value="user-name-placeholder" required>
            </div>
            <button class="glow-on-hover" name="submit_changeProfilePicture" type="submit" type="button">Change</button>
          </form>
          <button id="delete" onclick="deleteAccount()" class="glow-on-hover" name="submit_changeProfilePicture" type="submit" type="button">Delete Account</button>
        </div>
        <div class="password tabShow">
          <form id="form" action="/settings/changePassword" method="POST">
            <h1>Change Password</h1>
            <div>
              <p>Enter old password:</p>
              <div class="pwd">
                <i class="fa-solid fa-lock"></i>
                <input id="pw-old" type="password" name="old_password_settings" placeholder="old password..." required>
                <i class="fa-solid fa-eye-slash"></i>
              </div>
          </div>
          <!-- error Message old pw invalid -->
          <div class="middle">
            <p>Enter new password:</p>
            <div class="pwd">
              <i class="fa-solid fa-lock"></i>
              <input id="pw-first" type="password" name="new_password_settings" placeholder="new password..."  onkeyup='check_pw()'>
              <i class="fa-solid fa-eye-slash"></i>
            </div>
          </div>
          <div>
            <p>Repeat new password:</p>
            <div id="repeat" class="pwd repeat">
              <i class="fa-solid fa-lock"></i>
              <input id="pw-repeat" type="password" name="repeat_new_password_settings" placeholder="repeat new pw..." onfocusout='check_animate()' onkeyup='check_pw()'>
              <i class="fa-solid fa-eye-slash"></i>
            </div>
          </div>
            <script src="/view/js/check-pw-fields.js"></script>
            <script src="/view/js/pwd-field.js"></script>
            <p class="errorMessage pw-invalid"></p>
            <br>
            <button class="glow-on-hover" name="submit_changeProfilePicture" type="submit" type="button">Change</button>
          </form>
        </div>
        <div class="colorMode tabShow">
          <h1>Select Color Theme</h1>
          <div class="row">
            <div class="theme dark" onclick="select(0)">
              <div></div>  
              <p>dark theme</p>           
            </div>
            <div class="theme light" onclick="select(1)">
              <div></div> 
              <p>light theme</p>             
            </div>
          </div>
          <div class="row">
            <div class="theme cold" onclick="select(2)">
              <div></div>     
              <p>cold theme</p>         
            </div>
            <div class="theme warm" onclick="select(3)">
              <div></div>  
              <p>warm theme</p>          
            </div>
          </div>
          <script src="/view/js/settings-theme.js"></script>
        </div>

      </div>
    </div>

  <script src="/view/js/settings.js"></script>
</body>
</html>