<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		<!-- user name --> - hiddlestick
	</title>
	<!-- icons placeholder -->
	<link rel="stylesheet" type="text/css" href="/view/css/target.css">
	<!-- header stylesheets -->
	<!-- element stylesheets -->
	<!-- footer stylesheets -->
</head>

<body>
	<header></header>
	<main>
		<div class="main-left">
			<a href="/target/shoot/user-handle">Shoot</a>
		</div>
		<div class="main-center">
			<!-- element placeholder -->
		</div>
		<div class="main-right"></div>
	</main>
	<!-- overlay placeholder -->
	<!-- footer placeholder -->
</body>

</html>